.header {
    display: flex;
    justify-content: space-between;
    padding: 3rem;

    &__nav {
        &__menu {
            display: flex;
            gap: 1rem;

            &__item {
                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        color: var(--hover-color);
                    }
                }
            }
        }
    }
}
