.logged-user-area {
    position: relative;

    &__profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__details {
        position: absolute;
        right: 0;
        top: 50;
        z-index: 1000;
        background-color: #111;
    }
}
