.logged-user-avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: .1rem solid #555;
    position: relative;

    img {
        object-fit: contain;
        border-radius: 50%;
    }
}