.footer {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        padding: 5rem;

        &__copy {
            display: flex;
            gap: 1rem;
        }

        &__links {
            display: flex;
            flex-direction: column;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.4rem;
                color: inherit;

                &:hover {
                    color: var(--hover-color);
                }
            }
        }
    }
}