/* .dark {
    .theme-switcher {
        color: #aaa;
    }
}

.light {
    .theme-switcher {
        color: #111;
    }
}
 */
.theme-switcher {
    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: inherit;
    }

    svg {
        color: inherit;
    }
}
